!!!5
html(manifest=manifest)
  head
    title= title
    - if(env === 'prod')
      link(rel="stylesheet", href="/stylesheets/collect_all.css?#{static.cssHash}")
    - else
      - each file in static.cssFiles
        link(rel="stylesheet", href="/stylesheets/#{file}")

  body(class=bodyClass)!= body

  - if(env === 'prod')
    script(src='javascripts/collect_all.js?#{static.javascriptHash}')
  - else
    - each file in static.javascriptFiles
      script(src='javascripts/#{file}')

  script
      collect.server = { time: #{serverTime} };
      collect.options = {
        db: '#{options.db}',
        username: '#{options.username}',
        password: '#{options.password}',
        PAGE_LENGTH: #{pageLength},
      }

  script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-605177-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

